
.ClientLabsOverview {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 8px;
}

.ClientLabsOverview-header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.ClientLabsOverview-title {
  font-size: 9